.header{
    margin:0 2.5rem;
    padding: .5rem 0;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.headerLeft, .headerRight{
    display: flex;
    align-items: center;
}
.header__icon{
    font-size: 20px;
    color: rgb(242, 246, 13);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
}

a > span{
    margin: 0 30px;
    font-size:1.3rem;
    cursor:pointer;
    color: white;
}

a > span:hover{
    color:red;
}

.header__icon{
    width: 80px;
    cursor: pointer;
}

.user__avatar{
    font-size: 2rem;
}